body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background: linear-gradient(90deg, gray, whitesmoke, gray);
}

hr {
  width: 500px;
}

#errors {
  color: hotpink;
}

#board {
  width: 450px;
  height: 450px;
  background: linear-gradient(90deg, rgb(17, 131, 245), blue, rgb(12, 113, 214));
  margin: 0 auto;   /* this centers the board */
  display: flex;
  flex-wrap: wrap;
  color: white;
}

.tile {
  width: 48px;
  height: 48px;
  border: 1px solid white;

  /* text; */
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

#digits {
  width: 450px;
  height: 50px;

  background-color: black;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  color: hotpink;
}

.number {
  width: 44px;
  height: 44px;
  border: 1px solid white;
  margin: 2px;

  /* text; */
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-selected {
  background: linear-gradient(135deg, gray, navy);
}

.tile-start {
  background: linear-gradient(135deg, navy, gray);
}

.horizontal-line-top {
  border-top: 1px solid hotpink;
}

.horizontal-line-bottom {
  border-bottom: 1px solid hotpink;
}

.vertical-line-right {
  border-right: 1px solid hotpink;
}

.vertical-line-left {
  border-left: 1px solid hotpink;
}